<h2>Contact Us Form Submission</h2>
<p><b>Name:</b> {{name}}</p>
<p><b>Email:</b> {{email}}</p>
<p><b>Phone:</b> {{phone}}</p>
<p><b>Service Interested In:</b> {{service}}</p>
<p><b>Message:</b></p>
<p style="margin-left:1em;">{{message}}</p>
<hr/>
<p><b>Submission Details:</b></p>
<ul>
  <li><b>Submitted At:</b> {{submittedAt}}</li>
  <li><b>IP Address:</b> {{ipAddress}}</li>
  <li><b>User Agent:</b> {{userAgent}}</li>
</ul>
